*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#big {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    background-color: brown;
}


#small {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: blueviolet;
}

/* one way */

/* #container {
    display: flex;
}

#big {
    display: flex;
    align-self: flex-start;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

#small {
    display: flex;
    align-self:flex-end ;
    height: 100px;  
    width: 100px;
    border: 1px solid black;
} */



/* second way */


/* #container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

#big {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: self-end;
    justify-self: self-end;
}
#small {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: self-start;
    justify-self: self-start;
} */

/* third way */

/* Put small into big */
#big {
    position: relative;
}

#small {
    position: absolute;
    left: 100%;
    top: 100%;
}

