*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#big {
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
}

#small {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    right: 0;
}